= form_for product, role: 'form' do |f|
  - if product.errors.any?
    #error_explanation
      %h3
        = pluralize(product.errors.count, 'erreur', plural: 'erreurs')
        empêche#{product.errors.many? ? 'nt' : ''}
        la sauvegarde du produit :
        %ul
          - product.errors.full_messages.each do |msg|
            %li= msg

  = f.label :name, class: 'label'
  %p.control= f.text_field :name, placeholder: t('attributes.name'), class: 'input'

  = f.label :tag_list, 'Synonymes', class: 'label'
  %p.control= f.text_field :tag_list, placeholder: t('attributes.tags'), class: 'input'

  = f.label :description, class: 'label'
  %p.control= f.text_area :description, placeholder: t('attributes.description'), class: 'textarea'

  %p.control= f.submit class: 'button is-primary'
