= form_for product, role: 'form' do |f|
  - if product.errors.any?
    #error_explanation
      %h3
        = pluralize(product.errors.count, 'erreur', plural: 'erreurs')
        empêche#{product.errors.many? ? 'nt' : ''}
        la sauvegarde du produit :
        %ul
          - product.errors.full_messages.each do |msg|
            %li= msg

  %p= f.text_field :name, placeholder: t('attributes.name')
  %p= f.text_area :description, placeholder: t('attributes.description'), rows: 4, cols: 80
  %p= f.submit
