.card
  %header.card-header
    %p.card-header-title
      = product.name
      (#{product.tag_list})
  .card-content
    .content
      %em= product.description
    - if product.information.any?
      .columns
      - product.information.each do |information|
        .column
          %article.message
            .message-header
              %p= information.name
              %small
                = link_to 'Modifier cette information', edit_product_information_path(product, information)
            .message-body
              %p= simple_format information.contents
    - else
      Aucune information disponible pour ce produit.

  %footer.card-footer
    = link_to 'Modifier', edit_product_path(product), class: 'card-footer-item'
    = link_to 'Rajouter une information', new_product_information_path(product), class: 'card-footer-item'
