%h1 Liste Produits

- if @products.any?
  %table
    %thead
      %tr
        %th Nom
    %tbody
      - @products.each do |product|
        %tr
          %td= product.name
- else
  %em ♪ Non, rien de rien... ♪

%h2 Créer un nouveau produit
= form_for @new_product, role: 'form' do |f|
  %p
    = f.label :name, 'Libéllé :'
    = f.text_field :name
  %p= f.submit
