%section.hero.is-primary
  .hero-body
    .container
      %h1.title Produits
      -#%h2.subtitle Les #{Product::RECENT_NUMBER} produits récemment mis à jour

  -#.hero-foot
    %nav.tabs
      .container
        %ul
          %li.is-active= link_to 'Récents', '#'
          %li= link_to 'Populaires', '#'

%section.section
  .container
    - if @products.any?
      .columns
        - @products.recent.each do |product|
          .column
            = render 'product_short', product: product
    - else
      %p
        %em ♪ Non, rien de rien... ♪

%section.section
  .container
    .heading
      %h2.title Créer un nouveau produit
    = render 'form', product: Product.new(name: params[:name])
