%h1 Produits

- if @products.any?
  %section
    %h2 Les #{Product::RECENT_NUMBER} produits récemment mis à jour

    %table
      %thead
        %tr
          %th Nom
          %th Description
          %th
            %small Actions
      %tbody
        - @products.recent.each do |product|
          %tr
            %td= product.name
            %td= simple_format(product.description)
            %td
              %small= link_to 'Modifier', edit_product_path(product)

  -#%section
    %h2 Les produits le plus fréquemment recherchés

- else
  %em ♪ Non, rien de rien... ♪

%h2 Créer un nouveau produit
= render 'form', product: Product.new(name: params[:name])
