%h1 Produits

%h2 Les #{Product::RECENT_NUMBER} derniers produits

- if @products.any?
  %table
    %thead
      %tr
        %th Nom
        %th Description
        %th
          %small Actions
    %tbody
      - @products.recent.each do |product|
        %tr
          %td= product.name
          %td= simple_format(product.description)
          %td
            %small= link_to 'Modifier', edit_product_path(product)

- else
  %em ♪ Non, rien de rien... ♪

%h2 Créer un nouveau produit
= render 'form', product: Product.new(name: params[:name])
