%h1= @product.name

%p= simple_format @product.description

- unless @product.information.none?
  - @product.information.each do |information|
    %section
      %h1= information.name
      %p= simple_format information.contents
      %small= link_to 'Modifier cette information', edit_product_information_path(@product, information)

%p
  = link_to 'Modifier ce produit', edit_product_path(@product)
  |
  = link_to 'Rajouter une information', new_product_information_path(@product)

%p= link_to 'Retour à la Liste', products_path
